<ion-header>
  <ion-toolbar style="text-align:center;">
    <ion-title>Panel Admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content (click)="clickenelcontent()">



  <section *ngIf="this.step=='inicio'">
    <br>
    <br>
    <ion-button (click)="irasolicitudes()" expand="block">Ver solicitudes</ion-button>
    <br>
    <ion-button (click)="iraadministrarusuarios()" fill="outline" expand="block">Administrar Usuarios</ion-button>
    <br>
    <ion-button (click)="iraadministrardivisas()" expand="block">Administrar Divisas</ion-button>
    <br>
    <ion-button (click)="iravercuentasytarjetasdeusuario()" color="secondary" expand="block">Ver Cuentas/Tarjetas
      Usuarios</ion-button>
    <br>
    <ion-button (click)="iraadministrarpromociones()" fill="outline" expand="block">Administrar Promociones</ion-button>

    <div class="ion-text-center">
      <ion-button (click)="cerrarsesion()" color="secondary" fill="outline">Salir</ion-button>
    </div>
  </section>
  <section *ngIf="this.step=='versolicitudes'">
    <div class="ion-text-center">
      <ion-text>
        <h4><ion-button (click)="stepinicio()" size="small">volver</ion-button>&nbsp;Administrar Solicitudes</h4>
      </ion-text>
      <span class="fondomagenta">Atentida</span> &nbsp;&nbsp; <span style="color:white"
        class="fondomarron">Cancelada</span>
    </div>
    <ion-card *ngFor="let cadasolicitud of solicitudesdeusuario">
      <ion-card-header color="secondary">

          <a style="text-align:center; color:red;" *ngIf="cadasolicitud.credito_usado">Aplico: {{cadasolicitud.credito_usado}} De Credito</a>
          <br>
        <ion-text *ngIf="cadasolicitud.quierecomprardolares=='si'">
          <span class="v2-badge v2-badge-compro">Compro ${{cadasolicitud.recibe}}</span>
          <span class="v2-badge v2-badge-enviar">Depositando S/. {{cadasolicitud.solesaenviar}}</span>
          <span class="v2-badge v2-badge-deposito">A nuestro {{cadasolicitud.banco_que_envia}}</span>
          <span class="v2-badge v2-badge-dollarpluscambio">P/Venta: S/{{cadasolicitud.ventadollarplus}}</span>
          <span class="v2-badge v2-badge-numero">OP Nº {{cadasolicitud.id}}</span>
          <strong>Email:</strong>{{cadasolicitud.email_user}}
          <strong>Celular:</strong>{{cadasolicitud.celular_user}}
          {{cadasolicitud.fecha_creacion | date: 'dd/MM/yy, hh:mm':'GMT-10' }}
        </ion-text>
        <ion-text *ngIf="cadasolicitud.quierecomprardolares=='no'">
          <span class="v2-badge v2-badge-compro">Quiere S/. {{cadasolicitud.recibe}}</span>
          <span class="v2-badge v2-badge-enviar">Depositando $. {{cadasolicitud.dolaresaenviar}}</span>
          <span class="v2-badge v2-badge-deposito">A nuestro {{cadasolicitud.banco_que_envia}}</span>
          <span class="v2-badge v2-badge-dollarpluscambio">P/Compra: S/{{cadasolicitud.compradollarplus}}</span>
          <span class="v2-badge v2-badge-numero">OP Nº {{cadasolicitud.id}}</span>
          <strong>Email:</strong>{{cadasolicitud.email_user}}
          <strong>Celular:</strong>{{cadasolicitud.celular_user}}
          {{cadasolicitud.fecha_creacion | date: 'dd/MM/yy, hh:mm':'GMT-10' }}
        </ion-text>
      </ion-card-header>
      <ion-card-content [class.fondomagenta]="cadasolicitud.estado==4" [class.fondomarron]="cadasolicitud.estado==25">
        <ion-button (click)="VerImagen(cadasolicitud.new_url_image)" size="small" color="secondary"><ion-icon
            color="primary" style="color:var(--ion-color-primary)" name="images"></ion-icon></ion-button>
        <ion-button [disabled]="cadasolicitud.estado==25" (click)="cancelarla(cadasolicitud)" size="small"
          color="danger">Cancelar</ion-button>
        <ion-button [disabled]="cadasolicitud.estado==4" (click)="atender(cadasolicitud)"
          size="small">Atendida</ion-button>
        <ion-button [href]="mailto(cadasolicitud.email_user, 'Solicitud-Completada', cadasolicitud )" size="small"
          color="warning">Avisar Email</ion-button>
        <ion-button (click)="avisarwhatsappp(cadasolicitud)" size="small">Avisar WA</ion-button>
        <ion-button (click)="vercuenta(cadasolicitud)"><ion-icon name="wallet"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
    <audio style="position:obsolute; width:0.01%; height:0.01%;" #audiox controls>
      <source src="https://css-tricks.com/examples/SoundOnHover/audio/beep.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    
  </section>





  <section *ngIf="this.step=='administrarusuarios'">
    <div class="ion-text-center">
      <ion-text>
        <h4><ion-button (click)="stepinicio()" size="small">volver</ion-button>&nbsp;Administrar Usuarios</h4>
      </ion-text>
    </div>
    <ion-text><ion-button (click)="disminuirpaginausuario()" size="small"><ion-icon
          name="arrow-back-outline"></ion-icon></ion-button>{{paguinaactualusuario +1}} | {{paguinaactualusuario
      +10}}<ion-button (click)="aumentarpaginausuario()" size="small"><ion-icon
          name="arrow-forward-outline"></ion-icon></ion-button></ion-text>
    <section *ngFor="let cadausuario of cuentasdeusuario; let i = index">
      <ion-card *ngIf="i>=paguinaactualusuario  && i<= paguinaactualusuario +9" style=" white-space:normal!important;">
        <ion-card-header *ngIf="!cadausuario.lastname2" color="secondary">{{cadausuario.name}} {{cadausuario.lastname}}
          <ion-button *ngIf="cadausuario.status=='inactivo'" (click)="activarusuario(cadausuario)" color="success"
            size="medium">Activar</ion-button>
          <ion-button *ngIf="cadausuario.status=='activo'" (click)="desactivarusuario(cadausuario)" color="danger"
            size="medium">Desactivar</ion-button>
        </ion-card-header>
        <ion-card-header *ngIf="cadausuario.lastname2" color="secondary">{{cadausuario.name}} {{cadausuario.lastname}}
          {{cadausuario.lastname2}}
          <ion-button *ngIf="cadausuario.status=='inactivo'" (click)="activarusuario(cadausuario)" color="success"
            size="medium">Activar</ion-button>
          <ion-button *ngIf="cadausuario.status=='activo'" (click)="desactivarusuario(cadausuario)" color="danger"
            size="medium">Desactivar</ion-button>
        </ion-card-header>
        <ion-card-content style="margin:0px!important;" no-padding class="ion-no-padding">
          <ion-row>
            <ion-col size-md="10" size-lg="11" size-xs="9.5">
              <ion-list style="margin:0px!important;" no-padding class="ion-no-padding">
                <ion-item style="margin:0px!important;" no-padding class="ion-no-padding">
                  <ion-text style="margin:0px!important;" no-padding class="ion-no-padding">
                    <h6 style="margin:0pximportant;" no-padding class="ion-no-padding">{{cadausuario.celular}}</h6>
                  </ion-text>
                </ion-item>
                <ion-item style="margin:0px!important;" no-padding class="ion-no-padding">
                  <ion-text style="margin:0px!important;" no-padding class="ion-no-padding">
                    <h6 no-padding class="ion-no-padding">{{cadausuario.email}}</h6>
                  </ion-text>
                </ion-item>
                <ion-item *ngIf="cadausuario.es_empresa!=0" style="margin:0px!important;" no-padding
                  class="ion-no-padding">
                  <ion-text style="margin:0px!important;" no-padding class="ion-no-padding">
                    <h6 no-padding class="ion-no-padding">Es Empresa</h6>
                  </ion-text>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size-md="2" size-lg="1" size-xs="2.5">
              <ion-fab-button (click)="abrir_modal_detalles_usuario(cadausuario)"><ion-icon
                  name="eye"></ion-icon></ion-fab-button>
              <ion-modal class="detalles_operacion_completa" #modal_detalles_completos_usuario>
                <ng-template>
                  <ion-content>
                    <ion-toolbar>
                      <ion-title *ngIf="dataparaelmodal_usuario&&dataparaelmodal_usuario.id_publico">Identificador:
                        {{this.dataparaelmodal_usuario.id_publico}}</ion-title>
                      <!-- <ion-title>Modal</ion-title> -->
                      <ion-buttons slot="end">
                        <ion-button color="light" (click)="cerrar_modal_detalles_usuario()">Cerrar</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                    <ion-list>
                      <ion-item>
                        <ion-text>email: {{dataparaelmodal_usuario.email}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>Clave: {{dataparaelmodal_usuario.password}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text
                          *ngIf="dataparaelmodal_usuario.referidor">Referidor:{{dataparaelmodal_usuario.referidor}}</ion-text>
                        <ion-text *ngIf="!dataparaelmodal_usuario.referidor">Referidor: No Tiene</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>Creado El: Creado el:{{dataparaelmodal_usuario.create_date | date: 'dd/MM/yy,
                          hh:mm':'GMT-10' }}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>Nombre: {{dataparaelmodal_usuario.name}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>1er Ap: {{dataparaelmodal_usuario.lastname}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text *ngIf="dataparaelmodal_usuario.lastname2">2DO Ape:
                          {{dataparaelmodal_usuario.lastname2}}</ion-text>
                        <ion-text *ngIf="!dataparaelmodal_usuario.lastname2">2DO Ape: No tiene</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>celular: {{dataparaelmodal_usuario.celular}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text *ngIf="dataparaelmodal_usuario.tipo_documento==1">tipo_documento: DNI</ion-text>
                        <ion-text *ngIf="dataparaelmodal_usuario.tipo_documento==2">tipo_documento: Carnet de
                          extranjería</ion-text>
                        <ion-text *ngIf="dataparaelmodal_usuario.tipo_documento==3">tipo_documento: Pasaporte</ion-text>
                        <ion-text *ngIf="dataparaelmodal_usuario.tipo_documento==4">tipo_documento: P.T.P</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>numero_documento: Doc:{{dataparaelmodal_usuario.numero_documento}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>id_publico: {{dataparaelmodal_usuario.id_publico}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>Dirr:
                          {{dataparaelmodal_usuario.region}}{{dataparaelmodal_usuario.provincia}}{{dataparaelmodal_usuario.distrito}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text *ngIf="dataparaelmodal_usuario.es_empresa=='0'">Es empresa: NO</ion-text>
                        <ion-text *ngIf="dataparaelmodal_usuario.es_empresa=='1'">Es empresa: SI</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>fecha_nacimiento: {{dataparaelmodal_usuario.fecha_nacimiento}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>genero: {{dataparaelmodal_usuario.genero}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>politicamente_expuesta: {{dataparaelmodal_usuario.politicamente_expuesta}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>nombre_politico: {{dataparaelmodal_usuario.nombre_politico}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>institucion_politica: {{dataparaelmodal_usuario.institucion_politica}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-text>cargo_politico: {{dataparaelmodal_usuario.cargo_politico}}</ion-text>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </section>
  </section>





  <section *ngIf="this.step=='administrardivisas'">
    <div class="ion-text-center">
      <ion-text>
        <h4><ion-button (click)="stepinicio()" size="small">volver</ion-button>&nbsp;Administrar Divisas</h4>
      </ion-text>
      <ion-card>
        <div>
          <ion-button (click)="aumentarcompra()">+0.01</ion-button> &nbsp; <ion-button
            (click)="disminuircompra()">-0.01</ion-button>
        </div>
        <ion-row>
          <ion-col size="8">
            <ion-item lines="none">
              <ion-label position="floating">Aumento Compra</ion-label>
              <ion-input readonly="true" ngModel="{{aumento_compra | number:'1.3-3'}}"></ion-input> &nbsp; {{compradollarplus | number:'1.3-3'}}
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="actualizaraumentocompra()">
              <ion-icon item-right name="save"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <div class="ion-text-center">
          <ion-text>
            <h4><ion-icon name="save-outline"></ion-icon>:{{aumento_compra_guardado | number:'1.3-3'}}</h4>
          </ion-text>
        </div>
      </ion-card>
      <br><br><ion-item-divider></ion-item-divider><br><br>
      <ion-card>
        <div>
          <ion-button (click)="aumentarventa()">+0.01</ion-button> &nbsp; <ion-button
            (click)="disminuirventa()">-0.01</ion-button>
        </div>
        <ion-row>
          <ion-col size="8">
            <ion-item lines="none">
              <ion-label position="floating">Aumento Venta</ion-label>
              <ion-input readonly="true" ngModel="{{aumento_venta | number:'1.3-3'}}"></ion-input>&nbsp;{{ventadollarplus | number:'1.3-3'}}
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="actualizaraumentoventa()">
              <ion-icon item-right name="save"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <div class="ion-text-center">
          <ion-text>
            <h4><ion-icon name="save-outline"></ion-icon>:{{aumento_venta_guardado | number:'1.3-3'}}</h4>
          </ion-text>
        </div>
      </ion-card>
    </div>
  </section>


  <section *ngIf="this.step=='vercuentasytarjetasdeusuario'">
    <div class="ion-text-center">
      <ion-text>
        <h4><ion-button (click)="stepinicio()" size="small">volver</ion-button>&nbsp;Ver cuentas y tarjetas de usuarios
        </h4>
      </ion-text>
    </div>
    <ion-text><ion-button (click)="disminuirpaginausuario()" size="small"><ion-icon
          name="arrow-back-outline"></ion-icon></ion-button>{{paguinaactualusuario +1}} | {{paguinaactualusuario
      +10}}<ion-button (click)="aumentarpaginausuario()" size="small"><ion-icon
          name="arrow-forward-outline"></ion-icon></ion-button></ion-text>
    <section *ngFor="let cadausuario of cuentasdeusuario; let i = index">
      <ion-card *ngIf="i>=paguinaactualusuario  && i<= paguinaactualusuario +9" style=" white-space:normal!important;">
        <ion-card-header *ngIf="!cadausuario.lastname2" color="secondary">{{cadausuario.name}} {{cadausuario.lastname}}
          <!-- <ion-button *ngIf="cadausuario.status=='inactivo'" (click)="activarusuario(cadausuario)" color="success"
            size="medium">Activar</ion-button>
          <ion-button *ngIf="cadausuario.status=='activo'" (click)="desactivarusuario(cadausuario)" color="danger"
            size="medium">Desactivar</ion-button> -->
        </ion-card-header>
        <ion-card-header *ngIf="cadausuario.lastname2" color="secondary">{{cadausuario.name}} {{cadausuario.lastname}}
          {{cadausuario.lastname2}}
          <!-- <ion-button *ngIf="cadausuario.status=='inactivo'" (click)="activarusuario(cadausuario)" color="success"
            size="medium">Activar</ion-button>
          <ion-button *ngIf="cadausuario.status=='activo'" (click)="desactivarusuario(cadausuario)" color="danger"
            size="medium">Desactivar</ion-button> -->
        </ion-card-header>
        <ion-card-content style="margin:0px!important;" no-padding class="ion-no-padding">
          <ion-row>
            <ion-col size-md="10" size-lg="11" size-xs="9.5">
              <ion-list style="margin:0px!important;" no-padding class="ion-no-padding">
                <ion-item style="margin:0px!important;" no-padding class="ion-no-padding">
                  <ion-text style="margin:0px!important;" no-padding class="ion-no-padding">
                    <h6 style="margin:0pximportant;" no-padding class="ion-no-padding">{{cadausuario.celular}}</h6>
                  </ion-text>
                </ion-item>
                <ion-item style="margin:0px!important;" no-padding class="ion-no-padding">
                  <ion-text style="margin:0px!important;" no-padding class="ion-no-padding">
                    <h6 no-padding class="ion-no-padding">{{cadausuario.email}}</h6>
                  </ion-text>
                </ion-item>
                <ion-item *ngIf="cadausuario.es_empresa!=0" style="margin:0px!important;" no-padding
                  class="ion-no-padding">
                  <ion-text style="margin:0px!important;" no-padding class="ion-no-padding">
                    <h6 no-padding class="ion-no-padding">Es Empresa</h6>
                  </ion-text>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size-md="2" size-lg="1" size-xs="2.5">
              <ion-fab-button (click)="abrir_modal_detalles_cuentas_y_tarjetas(cadausuario)"><ion-icon
                  name="eye"></ion-icon></ion-fab-button>
              <ion-modal class="detalles_cuentas_y_tarjetas_usuario" #detalles_cuentas_y_tarjetas_usuario>
                <ng-template>
                  <ion-content *ngIf="dataparaelmodal_cuentas_y_tarjetas">
                    <ion-toolbar>
                      <ion-title>Cuentas y tarjetas</ion-title>
                      <!-- <ion-title>Modal</ion-title> -->
                      <ion-fab-button color="light"
                        (click)="cerrar_modal_detalles_cuentas_y_tarjetas()">X</ion-fab-button>
                    </ion-toolbar>
                    <section *ngIf="dataparaelmodal_cuentas_y_tarjetas[0]">
                      <ion-text>
                        <h1>Cuentas</h1>
                      </ion-text>
                      <section *ngIf="dataparaelmodal_cuentas_y_tarjetas[0].length<1">
                        <ion-text>
                          <h3>No Tiene</h3>
                        </ion-text>
                      </section>
                      <ion-grid *ngFor="let cadacuenta of dataparaelmodal_cuentas_y_tarjetas[0]" class="ion-no-padding"
                        no-padding>
                        <ion-row style="text-align:left; background-color: var(--ion-color-light);"
                          class="ion-no-padding" no-padding>

                          <ion-col size="12" *ngIf="cadacuenta.apodo_cuenta">
                            <strong>Apodo y Beneficiario:</strong> {{cadacuenta.apodo_cuenta}}<br>
                            {{cadacuenta.titular_cuenta}}
                          </ion-col>
                          <ion-col size="12" *ngIf="!cadacuenta.apodo_cuenta">
                            <strong>Beneficiario:</strong> {{cadacuenta.titular_cuenta}}
                          </ion-col>
                          <ion-col size="12">
                            <strong>Banco:</strong> {{cadacuenta.banco_cuenta}}
                          </ion-col>
                          <ion-col size="12">
                            <strong>Tipo y numero: </strong>Cuenta Ahorro: {{cadacuenta.numero_cuenta}}
                          </ion-col>
                          <ion-col size="12">
                            <strong>Moneda: </strong>{{cadacuenta.moneda_cuenta}}
                          </ion-col>
                          <ion-col size="12">
                            <ion-icon style="color: var(--ion-color-primary);" name="create"></ion-icon>
                          </ion-col>
                          <ion-col size="12">
                            <ion-icon style="color: var(--ion-color-primary);" name="trash-bin"></ion-icon>
                          </ion-col>

                        </ion-row>

                        <ion-item-divider style="background-color:white;"></ion-item-divider>

                      </ion-grid>

                    </section>
                    <section *ngIf="dataparaelmodal_cuentas_y_tarjetas[1]">
                      <ion-text>
                        <h1>Tarjetas:</h1>
                      </ion-text>
                      <section *ngIf="dataparaelmodal_cuentas_y_tarjetas[1].length<1">
                        <ion-text>
                          <h3>No Tiene</h3>
                        </ion-text>
                      </section>
                      <ion-grid *ngFor="let cadatarjeta of dataparaelmodal_cuentas_y_tarjetas[1]" class="ion-no-padding"
                        no-padding>
                        <ion-row style="text-align:left; background-color: var(--ion-color-light);"
                          class="ion-no-padding" no-padding>

                          <ion-col size="12" *ngIf="cadatarjeta.apodo_tarjeta">
                            <strong>Apodo y Beneficiario:</strong> {{cadatarjeta.apodo_tarjeta}}<br>
                            {{cadatarjeta.titular_tarjeta}}
                          </ion-col>
                          <ion-col size="12" *ngIf="!cadatarjeta.apodo_tarjeta">
                            <strong>Beneficiario:</strong> {{cadatarjeta.titular_tarjeta}}
                          </ion-col>
                          <ion-col size="12">
                            <strong>Banco:</strong> {{cadatarjeta.banco_tarjeta}}
                          </ion-col>
                          <ion-col size="12">
                            <strong>Tipo y numero: </strong>tarjeta: {{cadatarjeta.numero_tarjeta}}
                          </ion-col>

                          <ion-col size="12">
                            <ion-icon style="color: var(--ion-color-primary);" name="create"></ion-icon>
                          </ion-col>
                          <ion-col size="12">
                            <ion-icon style="color: var(--ion-color-primary);" name="trash-bin"></ion-icon>
                          </ion-col>

                        </ion-row>

                        <ion-item-divider style="background-color:white;"></ion-item-divider>

                      </ion-grid>

                    </section>

                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </section>
  </section>

  <section *ngIf="this.step=='administrarpromociones'">
    <ion-grid>
      <ion-fab-button (click)="stepinicio()"><ion-icon name="arrow-back"></ion-icon></ion-fab-button>
      <ion-text style="text-align:center;"><h6>Añadir Nueva:</h6></ion-text>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5">
          <div class="content-img">
            <label style="cursor:pointer;" for="input">
              <img style="display: block; object-fit: cover;" src="assets/dollarplusrecursos/adjuntar-imagen.svg" />
              <!-- <img style="display: block; object-fit: cover;" *ngIf="promocion1_new_url_image" [src]="promocion1_new_url_image"/> -->
              <ion-icon name="add-circle"></ion-icon>
            </label>
            <input (change)=takePicture($event) class="input" type="file" id="input">
          </div>
        </ion-col>
      </ion-row>

      <ion-text style="text-align:center;"><h6>Añadidas:</h6></ion-text>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7">
          <ion-list *ngFor="let cadapromocion of menu_promociones">
            <ion-card>
              <ion-card-header color="light">
                <div class="ion-text-center">
                  <ion-button (click)="borrarpromocion1(cadapromocion)" color="danger"><ion-icon name="trash"></ion-icon>Borrar</ion-button>
                </div>
              </ion-card-header>

              <ion-card-content class="ion-no-padding" no-padding>
                <img style="width:100%; height:100%;" [src]="cadapromocion.promocion1_new_url_image">
              </ion-card-content>
            </ion-card>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>



  </section>


</ion-content>