<ion-content>
  <div style="padding: 40px 40px 15px 40px; text-align: center">
    <span class="main__title ion-text-center"> Mis operaciones </span>
  </div>

  <section *ngIf="this.step=='veroperaciones'">
    <div
      (click)="recargaricono()"
      class="ion-text-center"
      style="width: 20px; margin: auto; margin-bottom: 16px"
    >
      <ion-icon style="transform: rotate(90deg)" name="reload"></ion-icon>
    </div>

    <ion-grid class="ion-text-center ion-hide-sm-down" style="width: 100%">
      <ion-card class="ion-text-center" style="width: 100%">
        <ion-card-header color="primary">
          <ion-row>
            <ion-col size="1.8">
              <ion-text>Nro:</ion-text>
            </ion-col>
            <ion-col size="3.3">
              <ion-text>Envias/<br />Recibes:</ion-text>
            </ion-col>
            <ion-col size="2.9">
              <ion-text>Fecha:</ion-text>
            </ion-col>
            <ion-col size="2.9">
              <ion-text>Estado:</ion-text>
            </ion-col>
            <ion-col size="1.1">
              <ion-text></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-row
          style="cursor: pointer"
          [class]="{fondoblanco:par,fondogris:impar}"
          *ngFor="let cadaoperacion of operaciones;let impar = odd;let par = even;"
        >
          <ion-col
            (click)="abrir_modal_detalles(cadaoperacion)"
            size="1.8"
            class="ion-text-center"
          >
            <ion-text style="font-size: small">
              &nbsp;&nbsp; {{cadaoperacion.id}}
            </ion-text>
          </ion-col>

          <ion-col (click)="abrir_modal_detalles(cadaoperacion)" size="3.3">
            <ion-text *ngIf="cadaoperacion.quierecomprardolares=='si'"
              ><ion-icon
                color="secondary"
                style="size: x-small"
                name="person"
              ></ion-icon
              ><a style="font-size: x-small">S/</a
              >{{cadaoperacion.solesaenviar}}</ion-text
            ><br />
            <ion-text *ngIf="cadaoperacion.quierecomprardolares=='si'"
              ><img
                style="width: 15px; height: 15px"
                src="assets/dollarplusrecursos/icon/favicon.png"
              /><a style="font-size: x-small">$</a>{{cadaoperacion.recibe |
              number : '1.2-2'}}</ion-text
            >

            <ion-text *ngIf="cadaoperacion.quierecomprardolares=='no'"
              ><ion-icon
                color="secondary"
                style="size: x-small"
                name="person"
              ></ion-icon
              ><a style="font-size: x-small">$</a
              >{{cadaoperacion.dolaresaenviar}}</ion-text
            ><br />
            <ion-text *ngIf="cadaoperacion.quierecomprardolares=='no'"
              ><img
                style="width: 15px; height: 15px"
                src="assets/dollarplusrecursos/icon/favicon.png"
              /><a style="font-size: x-small">S/.</a>{{cadaoperacion.recibe |
              number : '1.2-2'}}</ion-text
            >
          </ion-col>

          <ion-col (click)="abrir_modal_detalles(cadaoperacion)" size="2.9">
            <ion-text
              >{{cadaoperacion.fecha_creacion | date: 'dd/MM/yy, hh:mm':'GMT-5'
              }}</ion-text
            >
          </ion-col>

          <ion-col (click)="abrir_modal_detalles(cadaoperacion)" size="2.9">
            <ion-text
              *ngIf="cadaoperacion.estado==3"
              style="font-size: x-small"
            >
              <span class="v2-badge v2-badge-validando">
                <a style="vertical-align: inherit; color: orange">
                  Validando
                </a>
              </span>
            </ion-text>
            <ion-text
              *ngIf="cadaoperacion.estado==4"
              style="font-size: x-small"
            >
              <span class="v2-badge v2-badge-atendida">
                <a style="vertical-align: inherit; color: green"> Atendida </a>
              </span>
            </ion-text>
            <ion-text
              *ngIf="cadaoperacion.estado==25"
              style="font-size: x-small"
            >
              <span class="v2-badge v2-badge-cancelada">
                <a style="vertical-align: inherit; color: white"> Cancelada </a>
              </span>
            </ion-text>
          </ion-col>

          <ion-col size="1.1">
            <ion-icon
              (click)="abrir_modal_detalles(cadaoperacion)"
              size="medium"
              color="secondary"
              style="cursor: pointer; color: secondary"
              name="eye"
            ></ion-icon>
            <br />
            <ion-icon
              size="medium"
              color="secondary"
              style="cursor: pointer; color: secondary"
              name="trash"
            ></ion-icon>

            <ion-modal
              class="detalles_operacion_completa"
              #modal_detalles_completos
            >
              <ng-template>
                <ion-content>
                  <ion-toolbar>
                    <ion-title *ngIf="dataparaelmodal&&dataparaelmodal.id"
                      >Operación: {{this.dataparaelmodal.id}}</ion-title
                    >
                    <!-- <ion-title>Modal</ion-title> -->
                    <ion-buttons slot="end">
                      <ion-button
                        color="light"
                        (click)="cerrar_modal_detalles()"
                        >Cerrar</ion-button
                      >
                    </ion-buttons>
                  </ion-toolbar>

                  <ion-list>
                    <ion-item>
                      <ion-label style="white-space: normal !important">
                        <h2 *ngIf="dataparaelmodal.quierecomprardolares=='si'">
                          Envias:S/ {{dataparaelmodal.solesaenviar}}
                        </h2>
                        <h2 *ngIf="dataparaelmodal.quierecomprardolares=='si'">
                          Recibes: $ {{dataparaelmodal.recibe | number : '1.2-2'
                          }}
                        </h2>

                        <h2 *ngIf="dataparaelmodal.quierecomprardolares=='no'">
                          Envias:$ {{dataparaelmodal.dolaresaenviar}}
                        </h2>
                        <h2 *ngIf="dataparaelmodal.quierecomprardolares=='no'">
                          Recibes: S/. {{dataparaelmodal.recibe | number :
                          '1.2-2'}}
                        </h2>
                      </ion-label>
                    </ion-item>

                    <ion-item>
                      <ion-label style="white-space: normal !important">
                        <h2 *ngIf="dataparaelmodal.quierecomprardolares=='si'">
                          Compra: {{dataparaelmodal.compradollarplus}}
                        </h2>
                        <h2 *ngIf="dataparaelmodal.quierecomprardolares=='no'">
                          Venta: {{dataparaelmodal.ventadollarplus}}
                        </h2>
                      </ion-label>
                    </ion-item>

                    <ion-item *ngIf="dataparaelmodal.credito_usado">
                      <ion-label style="white-space: normal !important">
                        <h2>Credito: + {{dataparaelmodal.credito_usado}}</h2>
                      </ion-label>
                    </ion-item>

                    <ion-item>
                      <ion-label style="white-space: normal !important">
                        <section *ngIf="dataparaelmodal.op_tipo=='tarjeta'">
                          Recibes en tu Tarjeta
                        </section>

                        <section *ngIf="dataparaelmodal.op_tipo=='cuenta'">
                          Recibes en tu Cuenta
                        </section>
                      </ion-label>
                    </ion-item>

                    <ion-item center class="ion-text-center">
                      <ion-card style="width: 90%">
                        <ion-card-header
                          style="text-align: center"
                          color="primary"
                        >
                          <ion-label style="white-space: normal !important">
                            <section *ngIf="dataparaelmodal.op_tipo=='tarjeta'">
                              Tarjeta: 1{{dataparaelmodal.numero_tarjeta}}<br />
                              Banco: {{dataparaelmodal.banco_tarjeta}}<br />
                              Titular:{{dataparaelmodal.titular_tarjeta}}
                            </section>

                            <section *ngIf="dataparaelmodal.op_tipo=='cuenta'">
                              Cuenta: 2{{dataparaelmodal.numero_cuenta}}<br />
                              Banco: {{dataparaelmodal.banco_cuenta}}<br />
                              Titular:{{dataparaelmodal.titular_cuenta}}
                            </section>
                          </ion-label>
                        </ion-card-header>
                        <ion-card-content>
                          <h6
                            *ngIf="dataparaelmodal.quierecomprardolares=='si'"
                          >
                            Tipo de operación: Usted envia Soles y esta
                            recibiendo Dolares
                          </h6>
                          <h6
                            *ngIf="dataparaelmodal.quierecomprardolares=='no'"
                          >
                            Tipo de operación: Usted envia Dolares y esta
                            recibiendo Soles
                          </h6>

                          <div class="ion-text-center">
                            <img
                              style="width: 50%; height: 50%"
                              [src]="dataparaelmodal.new_url_image"
                            />
                          </div>
                          <ion-text
                            >estamos validando el deposito qe ha realizado a la
                            cuenta {{dataparaelmodal.banco_que_envia}}
                          </ion-text>
                          <ion-button expand="block" (click)="en_desarrollo()"
                            >Eliminar Operación</ion-button
                          >
                        </ion-card-content>
                      </ion-card>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <ion-text *ngIf="operaciones&&operaciones.length<1"
          ><p>
            Aún No ha realizado operaciones
            <a routerLink="/indash/operacion">Iniciar Operación</a>.
          </p></ion-text
        >
      </ion-card>
    </ion-grid>

    <app-operation-list
      [operations]="operaciones"
      (openModalDetailsEvent)="abrir_modal_detalles($event)"
    ></app-operation-list>
  </section>
</ion-content>
