<ion-content>
  <div style="padding: 40px 40px 0 40px" class="ion-hide-sm-up">
    <p class="main__title ion-text-center" style="margin: 0">
      Iniciar Operación
    </p>
  </div>

  <section *ngIf="this.step=='1'">
    <div class="wrapper">
      <ul class="steps">
        <li class="active">
          <a> Cotiza </a>
        </li>
        <!-- <li class="active"> -->
        <li class="active">
          <a> Registra </a>
        </li>
        <li>
          <span> Transfiere </span>
        </li>

        <li style="display: none"></li>
      </ul>
    </div>

    <ion-text class="fuenteraleway ion-hide-sm-down" style="text-align: center"
      ><h2 class="fuenteraleway" style="color: primary">
        <strong>Tipo</strong> de <strong>Cambio</strong> hoy en
        <strong>Perú</strong>
      </h2></ion-text
    >
    <br />

    <section *ngIf="quierecomprardolares">
      <ion-row>
        <ion-col size-md="1" size-lg="3.5" size-xs="1"> </ion-col>
        <ion-col size-md="10" size-lg="5" size-xs="10">
          <ion-card
            style="padding: 22px !important; border-radius: 11px !important"
          >
            <ion-fab-button
              (click)="cambiarmododeoperacion()"
              color="secondary"
              style="z-index: 1; position: absolute; right: 15%; top: 48%"
            >
              <ion-icon
                style="
                  color: var(--ion-color-primary);
                  transform: rotate(45deg);
                  font-size: xx-large;
                "
                name="sync"
              ></ion-icon>
            </ion-fab-button>

            <!-- <ion-card-header><strong>Cambia ahora</strong></ion-card-header> -->

            <ion-row *ngIf="compradollarplus&&ventadollarplus">
              <ion-col size="6">
                <div class="ion-text-center">
                  <ion-text
                    ><a style="color: secondary">Compra: &nbsp;</a
                    ><span class="v2-badge v2-badge-venta"
                      >{{compradollarplus| number : '1.3-3'}}</span
                    ></ion-text
                  >
                </div>
              </ion-col>
              <ion-col
                size="6"
                style="
                  background-color: var(--ion-color-secondary);
                  border-radius: 13px;
                "
              >
                <div class="ion-text-center">
                  <ion-text
                    ><a style="color: white;">Venta:</a
                    ><span class="v2-badge v2-badge-venta"
                      >{{ventadollarplus| number : '1.3-3'}}</span
                    ></ion-text
                  >
                </div>
              </ion-col>
            </ion-row>

            <ion-card-content>
              <div
                style="
                  border-radius: 6px;
                  color: var(--ion-color-secondary);
                  border: 1px solid var(--ion-color-secondary);
                  padding: 5px;
                  height: 80px !important;
                "
              >
                <ion-text
                  ><h2
                    style="font-size: large; color: var(--ion-color-primary)"
                  >
                    Envías:
                  </h2></ion-text
                >
                <span class="input-soles left">
                  <input
                    [disabled]="!compradollarplus"
                    (input)="CHANGESolesaenviar($event)"
                    inputmode="numeric"
                    class="sinborde sinflechitas"
                    style="
                      color: var(--ion-color-secondary);
                      font-size: large;
                      max-width: 100%;
                      min-width: 100%;
                      width: 100%;
                    "
                    type="text"
                    #camposolesaenviar
                    placeholder="Soles a enviar"
                    (keypress)="isNumberKeyAndLengtSolesaenviar($event)"
                    required
                  />
                </span>
              </div>
              <br />

              <div
                style="
                  border-radius: 6px;
                  height: 80px !important;
                  color: var(--ion-color-secondary);
                  border: 1px solid var(--ion-color-secondary);
                  padding: 5px;
                  height: 80px !important;
                "
              >
                <ion-text
                  ><h2
                    style="font-size: large; color: var(--ion-color-primary)"
                  >
                    Tu Recibes:
                  </h2></ion-text
                >
                <span class="input-dolar left">
                  <input
                    [disabled]="!compradollarplus"
                    (input)="CHANGEDolaresarecibir($event)"
                    inputmode="numeric"
                    class="sinborde sinflechitas"
                    style="
                      color: var(--ion-color-secondary);
                      font-size: large;
                      max-width: 100%;
                      min-width: 100%;
                      width: 100%;
                    "
                    type="text"
                    #campodolaresarecibir
                    placeholder="Dólares a recibir"
                    (keypress)="isNumberKeyAndLengthDolaresarecibir($event)"
                    required
                  />
                  <!-- <ion-text class="fuenteraleway" style="color:var(--ion-color-secondary); font-size:large; max-width: 100%;min-width: 100%;width: 100%;"> &nbsp;  &nbsp;  &nbsp; {{solesaenviar/ventadollarplus| number : '1.2-2'}}</ion-text> -->
                </span>
              </div>
            </ion-card-content>
          </ion-card>

          <div class="ion-text-center">
            <ion-button
              (click)="step2()"
              class="botonredondo"
              color="primary"
            >
              <span style="color: white !important;">
                Iniciar Operación
              </span>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-md="1" size-lg="3.5" size-xs="1"> </ion-col>
      </ion-row>
    </section>

    <section *ngIf="!quierecomprardolares">
      <ion-row>
        <ion-col size-md="1" size-lg="3.5" size-xs="1"> </ion-col>
        <ion-col size-md="10" size-lg="5" size-xs="10">
          <ion-card
            style="padding: 22px !important; border-radius: 11px !important"
          >
            <ion-fab-button
              (click)="cambiarmododeoperacion()"
              color="primary"
              style="z-index: 1; position: absolute; right: 15%; top: 48%"
            >
              <ion-icon
                style="
                  color: var(--ion-color-secondary);
                  transform: rotate(60deg);
                  font-size: xx-large;
                "
                name="sync"
              ></ion-icon>
            </ion-fab-button>

            <!-- <ion-card-header><strong>Cambia ahora</strong></ion-card-header> -->

            <ion-row *ngIf="compradollarplus&&ventadollarplus">
              <ion-col
                size="6"
                style="
                  background-color: var(--ion-color-secondary);
                  border-radius: 13px;
                "
              >
                <div class="ion-text-center">
                  <ion-text
                    ><a style="color: white;">Compra:</a
                    ><span class="v2-badge v2-badge-venta"
                      >{{compradollarplus}}</span
                    ></ion-text
                  >
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="ion-text-center">
                  <ion-text
                    ><a style="color: primary">Venta: &nbsp;</a
                    ><span class="v2-badge v2-badge-venta"
                      >{{ventadollarplus}}</span
                    ></ion-text
                  >
                </div>
              </ion-col>
            </ion-row>

            <ion-card-content>
              <div
                style="
                  border-radius: 6px;
                  color: var(--ion-color-secondary);
                  border: 1px solid var(--ion-color-secondary);
                  padding: 5px;
                  height: 80px !important;
                "
              >
                <ion-text
                  ><h2
                    style="font-size: large; color: var(--ion-color-primary)"
                  >
                    Envías:
                  </h2></ion-text
                >
                <span class="input-dolar left">
                  <input
                    (input)="CHANGEDolaresaenviar($event)"
                    inputmode="numeric"
                    class="sinborde sinflechitas"
                    style="
                      color: var(--ion-color-secondary);
                      font-size: large;
                      max-width: 100%;
                      min-width: 100%;
                      width: 100%;
                    "
                    type="text"
                    #campodolaresaenviar
                    (keypress)="isNumberKeyAndLengtDolaresaenviar($event)"
                    placeholder="Dólares a enviar"
                    required
                  />
                </span>
              </div>
              <br />
              <div
                style="
                  border-radius: 6px;
                  height: 65px !important;
                  color: var(--ion-color-secondary);
                  border: 1px solid var(--ion-color-secondary);
                  padding: 5px;
                  height: 80px !important;
                "
              >
                <ion-text
                  ><h2
                    style="font-size: large; color: var(--ion-color-primary)"
                  >
                    Tu Recibes:
                  </h2></ion-text
                >
                <span class="input-soles left">
                  <!-- <ion-text class="fuenteraleway" style="color:var(--ion-color-secondary); font-size:large; max-width: 100%;min-width: 100%;width: 100%;"> &nbsp;  &nbsp;  &nbsp; {{dolaresaenviar*compradollarplus | number : '1.2-2'}}</ion-text> -->
                  <input
                    (input)="CHANGESolesarecibir($event)"
                    inputmode="numeric"
                    class="sinborde sinflechitas"
                    style="
                      color: var(--ion-color-secondary);
                      font-size: large;
                      max-width: 100%;
                      min-width: 100%;
                      width: 100%;
                    "
                    type="text"
                    #camposolesarecibir
                    (keypress)="isNumberKeyAndLengtSolesarecibir($event)"
                    placeholder="Soles a recibir"
                    required
                  />
                </span>
              </div>
            </ion-card-content>
          </ion-card>

          <div class="ion-text-center">
            <ion-button (click)="step2()" class="botonredondo" color="primary">
              <span style="color: white !important;">
                Iniciar Operación
              </span>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-md="1" size-lg="3.5" size-xs="1"> </ion-col>
      </ion-row>
    </section>
  </section>
  <!-- sierre de step 1 -->

  <!-- inicia step2  -->

  <section *ngIf="this.step=='2'">
    <div class="wrapper">
      <ul class="steps">
        <li (click)="step1()">
          <a (click)="step1()"> Cotiza </a>
        </li>
        <!-- <li class="active"> -->
        <li class="active">
          <a> Registra </a>
        </li>
        <li class="active">
          <span> Transfiere </span>
        </li>

        <li style="display: none"></li>
      </ul>
    </div>

    <ion-grid>
      <div class="ion-text-center">
        <ion-button style="color: #fff" (click)="abrir_modal_creditos()">Usar Créditos</ion-button>
      </div>

      <ion-modal
        class="erroroperacion"
        #modal_creditos
        [initialBreakpoint]="1"
        [breakpoints]="[0, 1]"
        handleBehavior="cycle"
      >
        <ng-template>
          <ion-content class="ion-no-padding">
            <div class="ion-text-right">
              <ion-button color="secondary" (click)="cerrar_modal_creditos()"
                ><ion-icon name="close"></ion-icon
              ></ion-button>
            </div>

            <div *ngIf="credito_usado" class="ion-text-center">
              <ion-text
                ><strong>Usando crédito:</strong><a> +{{credito_usado}}</a
                ><ion-button (click)="quitar_credito()"
                  ><ion-icon name="close"></ion-icon></ion-button
              ></ion-text>
            </div>

            <section
              *ngIf="profileInfo&&profileInfo.creditos&&profileInfo.creditos.length>0"
            >
              <ion-row
                class="ion-align-items-center ion-text-center ion-no-padding"
                no-padding
              >
                <ion-col size="3" class="ion-no-padding" no-padding>
                  <ion-text><a>Por</a>:</ion-text>
                </ion-col>
                <ion-col size="3" class="ion-no-padding" no-padding>
                  <ion-text><a>Monto</a>:</ion-text>
                </ion-col>
                <ion-col size="3" class="ion-no-padding" no-padding>
                  <ion-text><a>Fecha</a>:</ion-text>
                </ion-col>
                <ion-col size="3" class="ion-no-padding" no-padding> </ion-col>
              </ion-row>

              <ion-row
                *ngFor="let cadacredito of this.profileInfo.creditos"
                class="ion-align-items-center ion-text-center ion-no-padding"
                no-padding
              >
                <ion-col size="3" class="ion-no-padding" no-padding>
                  <ion-text
                    class="fuenteraleway"
                    *ngIf="cadacredito.id_publico!=cadacredito.id_publico_generador"
                    >{{cadacredito.id_publico_generador}}</ion-text
                  >
                  <ion-text
                    class="fuenteraleway"
                    *ngIf="cadacredito.id_publico==cadacredito.id_publico_generador"
                    >Mi</ion-text
                  >
                </ion-col>
                <ion-col size="3" class="ion-no-padding" no-padding>
                  {{cadacredito.monto_ganado}}
                </ion-col>
                <ion-col size="3" class="ion-no-padding" no-padding>
                  {{cadacredito.fecha_creacion | date: 'dd/MM/yy,
                  hh:mm':'GMT-10' }}
                </ion-col>
                <ion-col size="3" class="ion-no-padding" no-padding>
                  <ion-button
                    (click)="usar_credito(cadacredito)"
                    [disabled]="credito_usado"
                    >Usar</ion-button
                  >
                </ion-col>
              </ion-row>
            </section>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-row
        style="padding-bottom: 0px !important; padding-top: 0px !important"
      >
        <ion-col
          style="padding-bottom: 0px !important; padding-top: 0px !important"
          size-md="12"
          size-lg="6"
          size-xs="12"
        >
          <ion-card
            style="
              padding-left: 20px !important;
              padding-bottom: 0px !important;
              padding-top: 0px !important;
            "
          >
            <ion-text
              class="fuenteraleway"
              style="color: var(--ion-color-secondary)"
              *ngIf="quierecomprardolares"
              ><h3>Enviaré Soles</h3></ion-text
            >
            <ion-text
              class="fuenteraleway"
              style="color: var(--ion-color-secondary)"
              *ngIf="!quierecomprardolares"
              ><h3>Enviaré Dólares</h3></ion-text
            >

            <ion-text
              class="fuenteraleway"
              *ngIf="quierecomprardolares"
              style="color: var(--ion-color-secondary)"
              ><h4>
                <p>
                  <img
                    src="assets/dollarplusrecursos/banderas-peru-eeuu/peru.png"
                  />
                  PEN | {{solesaenviar}}
                </p>
              </h4></ion-text
            >
            <ion-text
              class="fuenteraleway"
              *ngIf="!quierecomprardolares"
              style="color: var(--ion-color-secondary)"
              ><h4>
                <p>
                  <img
                    style="width: 20px; height: 20px"
                    src="assets/dollarplusrecursos/banderas-peru-eeuu/eeuu.png"
                  />
                  USD | {{dolaresaenviar}}
                </p>
              </h4></ion-text
            >
            <ion-text
              ><h5>
                <p>¿Desde qué banco nos enviarás el dinero?</p>
              </h5></ion-text
            >
            <ion-select
              [(ngModel)]="banco_que_envia"
              interface="popover"
              [interfaceOptions]="{ cssClass: 'clasebancosselector', size: 'cover' , side:'bottom',  alignment:'center' }"
              placeholder="Seleccionar banco"
              style="
                width: 92%;
                border-radius: 6px;
                color: var(--ion-color-secondary);
                border: 1px solid var(--ion-color-primary);
              "
            >
              <ion-select-option value="BCP">
                Banco De Crédito BCP
              </ion-select-option>
              <ion-select-option value="Interbank">
                Interbank
              </ion-select-option>
              <ion-select-option value="BBVA"> BBVA </ion-select-option>
              <ion-select-option value="ScotiaBank">
                ScotiaBank
              </ion-select-option>
              <ion-select-option value="BanBif"> BanBif </ion-select-option>
              <ion-select-option value="Pichincha">
                Pichincha
              </ion-select-option>
              <ion-select-option value="Banco de la Nación">
                Banco de la Nación
              </ion-select-option>
              <ion-select-option value="GNB"> GNB </ion-select-option>
              <ion-select-option value="Santander">
                Santander
              </ion-select-option>
              <ion-select-option value="Mi Banco"> Mi Banco </ion-select-option>
              <ion-select-option value="Falabella">
                Falabella
              </ion-select-option>
              <ion-select-option value="Banco Ripley">
                Banco Ripley
              </ion-select-option>
              <ion-select-option value="Banco del Comercio">
                Banco del Comercio
              </ion-select-option>
            </ion-select>

            <ion-text
              class="fuenteraleway"
              style="
                padding-top: 0px;
                padding-bottom: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
              "
              ><h6>
                <p>
                  La cuenta debe pertenecer a:
                  <a
                    *ngIf="profileInfo&&profileInfo.lastname2!=null"
                    style="
                      padding-top: 0px;
                      padding-bottom: 0px;
                      margin-top: 0px;
                      margin-bottom: 0px;
                    "
                    ><h6>
                      {{profileInfo.name}} {{profileInfo.lastname}}
                      {{profileInfo.lastname2}}
                    </h6></a
                  >
                  <a
                    *ngIf="profileInfo&&profileInfo.lastname2==null"
                    style="
                      padding-top: 0px;
                      padding-bottom: 0px;
                      margin-top: 0px;
                      margin-bottom: 0px;
                    "
                    ><h6>{{profileInfo.name}} {{profileInfo.lastname}}</h6></a
                  >
                </p>
              </h6></ion-text
            >
          </ion-card>
        </ion-col>

        <ion-col
          style="padding-bottom: 0px !important; padding-top: 0px !important"
          size-md="12"
          size-lg="6"
          size-xs="12"
        >
          <ion-card
            style="
              padding-left: 20px !important;
              padding-bottom: 0px !important;
              padding-top: 0px !important;
            "
          >
            <ion-text
              class="fuenteraleway"
              style="color: var(--ion-color-secondary)"
              *ngIf="quierecomprardolares"
              ><h3>Recibire Dólares</h3></ion-text
            >
            <ion-text
              class="fuenteraleway"
              style="color: var(--ion-color-secondary)"
              *ngIf="!quierecomprardolares"
              ><h3>Recibire Soles</h3></ion-text
            >

            <ion-text
              class="fuenteraleway"
              *ngIf="quierecomprardolares"
              style="color: var(--ion-color-secondary)"
              ><h4>
                <p>
                  <img
                    src="assets/dollarplusrecursos/banderas-peru-eeuu/eeuu.png"
                  />
                  USD | {{dolaresarecibir}}
                  <a *ngIf="credito_usado">+{{credito_usado}}</a>
                </p>
              </h4></ion-text
            >
            <ion-text
              class="fuenteraleway"
              *ngIf="!quierecomprardolares"
              style="color: var(--ion-color-secondary)"
              ><h4>
                <p>
                  <img
                    style="width: 20px; height: 20px"
                    src="assets/dollarplusrecursos/banderas-peru-eeuu/peru.png"
                  />
                  PEN | {{solesarecibir}}
                  <a *ngIf="credito_usado">+{{credito_usado}}</a>
                </p>
              </h4></ion-text
            >
            <ion-text
              ><h5><p>¿A dónde te transferimos?</p></h5>

              <h6 *ngIf="!agrego_algo">
                <p>Selecciona una opción:</p>
              </h6></ion-text
            >

            <section *ngIf="!agrego_algo">
              <section
                *ngIf="cuentas_de_usuario||tarjetas_de_usuario"
                style="margin-left: 0px !important"
              >
                <section *ngIf="quierecomprardolares">
                  <ion-select
                    (ionChange)="IONCHANGEdatos_de_deposito($event)"
                    *ngIf="cuentas_de_usuario.length>0||tarjetas_de_usuario.length>0"
                    interface="popover"
                    [interfaceOptions]="{ cssClass: 'clasecuentasselector', size: 'cover' , side:'top',  alignment:'center' }"
                    placeholder="Seleccionar"
                    style="
                      width: 100%;
                      border-radius: 6px;
                      color: var(--ion-color-secondary);
                      border: 1px solid var(--ion-color-primary);
                    "
                  >
                    <ng-container *ngFor="let cadacuenta of cuentas_de_usuario">
                      <ion-select-option
                        *ngIf="cadacuenta.moneda_cuenta=='Dolares'"
                        [value]="cadacuenta"
                        >Cuenta:&nbsp;{{cadacuenta.numero_cuenta}}
                        {{cadacuenta.banco_cuenta}}|De:{{cadacuenta.titular_cuenta}}</ion-select-option
                      >
                    </ng-container>

                    <ion-select-option
                      *ngFor="let cadatarjeta of tarjetas_de_usuario"
                      [value]="cadatarjeta"
                      >Tarjeta:&nbsp;{{cadatarjeta.numero_tarjeta}}
                      {{cadatarjeta.banco_tarjeta}}|De:{{cadatarjeta.titular_tarjeta}}</ion-select-option
                    >
                  </ion-select>
                </section>
                <section *ngIf="!quierecomprardolares">
                  <ion-select
                    (ionChange)="IONCHANGEdatos_de_deposito($event)"
                    *ngIf="cuentas_de_usuario.length>0||tarjetas_de_usuario.length>0"
                    interface="popover"
                    [interfaceOptions]="{ cssClass: 'clasecuentasselector', size: 'cover' , side:'top',  alignment:'center' }"
                    placeholder="Seleccionar"
                    style="
                      width: 100%;
                      border-radius: 6px;
                      color: var(--ion-color-secondary);
                      border: 1px solid var(--ion-color-primary);
                    "
                  >
                    <ng-container *ngFor="let cadacuenta of cuentas_de_usuario">
                      <ion-select-option
                        *ngIf="cadacuenta.moneda_cuenta=='Soles'"
                        [value]="cadacuenta"
                        >Cuenta:&nbsp;{{cadacuenta.numero_cuenta}}
                        {{cadacuenta.banco_cuenta}}|De:{{cadacuenta.titular_cuenta}}</ion-select-option
                      >
                    </ng-container>
                    <ion-select-option
                      *ngFor="let cadatarjeta of tarjetas_de_usuario"
                      [value]="cadatarjeta"
                      >Tarjeta:&nbsp;{{cadatarjeta.numero_tarjeta}}
                      {{cadatarjeta.banco_tarjeta}}|De:{{cadatarjeta.titular_tarjeta}}</ion-select-option
                    >
                  </ion-select>
                </section>
              </section>

              <ion-row>
                <ion-col size="6">
                  <ion-button
                    color="secondary"
                    (click)="AgregarAlgo('cuenta')"
                    expand="full"
                    >Nueva Cuenta</ion-button
                  >
                </ion-col>
                <ion-col size="6">
                  <ion-button
                    color="secondary"
                    (click)="AgregarAlgo('tarjeta')"
                    expand="full"
                    >Nueva Tarjeta</ion-button
                  >
                </ion-col>
              </ion-row>
            </section>
            <section *ngIf="agrego_algo">
              <section *ngIf="agrego_algo=='cuenta'">
                <ion-text class="fuenteraleway" style="text-align: center">
                  <h4>
                    <strong
                      >Tarjeta del {{data_de_deposito.banco_cuenta}}</strong
                    >
                  </h4>
                  <h6>De: {{data_de_deposito.titular_cuenta}}</h6>
                  <h5>
                    <strong>Nº: {{data_de_deposito.numero_cuenta}}</strong>
                  </h5>
                  <div class="ion-text-center">
                    <ion-button
                      class="botoncomofab"
                      (click)="borrarDataDeDeposito()"
                      color="secondary"
                      ><ion-icon color="primary" name="close-circle"></ion-icon
                    ></ion-button>
                  </div>
                </ion-text>
              </section>
              <section *ngIf="agrego_algo=='tarjeta'">
                <ion-text class="fuenteraleway" style="text-align: center">
                  <h4>
                    <strong
                      >Tarjeta del {{data_de_deposito.banco_tarjeta}}</strong
                    >
                  </h4>
                  <h6>De: {{data_de_deposito.titular_tarjeta}}</h6>
                  <h5>
                    <strong>Nº: {{data_de_deposito.numero_tarjeta}}</strong>
                  </h5>
                  <div class="ion-text-center">
                    <ion-button
                      class="botoncomofab"
                      (click)="borrarDataDeDeposito()"
                      color="secondary"
                      ><ion-icon color="primary" name="close-circle"></ion-icon
                    ></ion-button>
                  </div>
                </ion-text>
              </section>
            </section>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button
            (click)="step1()"
            fill="outline"
            color="primary"
            expand="block"
            >Atrás</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <section *ngIf="!agrego_algo">
            <ion-button
              *ngIf="data_de_deposito&&banco_que_envia"
              (click)="step3()"
              color="primary"
              expand="full"
              style="color: #fff"
              >
                <p style="color: #fff">
                  Continuar
                </p>
              </ion-button
            >
            <ion-button
              *ngIf="!data_de_deposito||!banco_que_envia"
              (click)="abrirmodalerrorpaso2()"
              color="primary"
              expand="full"
            >
              <p style="color: #fff">
                Continuar
              </p>
            </ion-button
            >
          </section>
          <section *ngIf="agrego_algo">
            <ion-button style="color: #fff" (click)="step3()" color="primary" expand="full">
              <p style="color: #fff">
                Continuar
              </p>
            </ion-button>
          </section>

          <ion-modal
            class="erroroperacion"
            trigger="modalpaso2"
            #modalpaso2
            id="modalpaso2"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
            handleBehavior="cycle"
          >
            <ng-template>
              <ion-content class="ion-padding">
                <div class="ion-margin-top">
                  <ion-text>
                    <br />
                    <p
                      style="font-size: x-large; color: black; margin-top: 0px"
                    >
                      Importante!
                    </p>
                  </ion-text>
                </div>
                <p>Para continuar con su operación, usted debera considerar:</p>
                <ul>
                  <li *ngIf="!banco_que_envia">
                    <strong style="color: var(--ion-color-secondary)"
                      >¿Desde donde nos envia?: </strong
                    >Porfavor seleccione desde que banco nos envia el dinero.
                  </li>
                  <li *ngIf="!data_de_deposito">
                    <strong style="color: var(--ion-color-secondary)"
                      >¿donde desea recibir?: </strong
                    >Porfavor indiquenos a que cuenta o tarjeta desea que te
                    transfiramos.
                  </li>
                </ul>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section *ngIf="this.step=='3'">
    <div class="wrapper">
      <ul class="steps">
        <li (click)="step1()">
          <a (click)="step1()"> Cotiza </a>
        </li>
        <!-- <li class="active"> -->
        <li>
          <a> Registra </a>
        </li>
        <li class="active">
          <a> </a>
          Transfiere
          <span> </span>
        </li>

        <li class="active" style="display: none"></li>
      </ul>
    </div>

    <ion-grid>
      <ion-row
        style="padding-bottom: 0px !important; padding-top: 0px !important"
      >
        <ion-col
          style="padding-bottom: 0px !important; padding-top: 0px !important"
          size-md="12"
          size-lg="6"
          size-xs="12"
        >
          <ion-card
            style="
              padding-left: 20px !important;
              padding-bottom: 0px !important;
              padding-top: 0px !important;
            "
          >
            <ion-text
              class="fuenteraleway"
              style="color: var(--ion-color-secondary)"
              ><h3>Debes Transferir:</h3></ion-text
            >

            <ion-text
              class="fuenteraleway"
              *ngIf="quierecomprardolares"
              style="color: var(--ion-color-secondary)"
              ><h4>
                <p>
                  <img
                    src="assets/dollarplusrecursos/banderas-peru-eeuu/peru.png"
                  />
                  PEN | {{solesaenviar| number : '1.2-2'}}
                </p>
              </h4></ion-text
            >
            <ion-text
              class="fuenteraleway"
              *ngIf="!quierecomprardolares"
              style="color: var(--ion-color-secondary)"
              ><h4>
                <p>
                  <img
                    style="width: 20px; height: 20px"
                    src="assets/dollarplusrecursos/banderas-peru-eeuu/eeuu.png"
                  />
                  USD | {{dolaresaenviar| number : '1.2-2'}}
                </p>
              </h4></ion-text
            >
            <ion-text
              ><h6>
                <strong
                  >Transfiere por la web o app de tu banco a la siguiente
                  cuenta:</strong
                >
              </h6></ion-text
            >
            <ion-card>
              <ion-card-content>
                <ion-text
                  class="fuenteraleway"
                  *ngIf="cuenta_bancaria_admin"
                  style="text-align: center"
                >
                  <h4>
                    <strong>Banco: {{cuenta_bancaria_admin.banco}}</strong>
                  </h4>
                  <h6>Moneda: {{cuenta_bancaria_admin.moneda}}</h6>
                  <h5><strong>Tipo: {{cuenta_bancaria_admin.tipo}}</strong></h5>
                  <h5>
                    <strong>Número: {{cuenta_bancaria_admin.numero}}</strong>
                  </h5>
                  <h5>
                    <strong>A Nombre: {{cuenta_bancaria_admin.titular}}</strong>
                  </h5>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-card>
        </ion-col>

        <ion-col
          style="padding-bottom: 0px !important; padding-top: 0px !important"
          size-md="12"
          size-lg="6"
          size-xs="12"
        >
          <ion-card
            style="
              padding-left: 20px !important;
              padding-right: 20px !important;
              padding-bottom: 0px !important;
              padding-top: 0px !important;
            "
          >
            <ion-text
              class="fuenteraleway"
              style="color: var(--ion-color-secondary)"
              ><h3>
                ¿Transferiste? Adjunta tu comprobante a continuación
              </h3></ion-text
            >

            <div class="content-img">
              <label style="cursor: pointer" for="input">
                <img
                  style="display: block; object-fit: cover"
                  *ngIf="!new_url_image"
                  src="assets/dollarplusrecursos/adjuntar-imagen.svg"
                />
                <img
                  style="display: block; object-fit: cover"
                  *ngIf="new_url_image"
                  [src]="new_url_image"
                />

                <ion-icon name="folder-outline"></ion-icon>
              </label>
              <input
                (change)="takePicture($event)"
                accept="image/*"
                class="input"
                type="file"
                id="input"
              />
            </div>
            <ion-icon
              *ngIf="new_url_image"
              color="success"
              style="font-size: xx-large"
              name="checkmark-circle"
            ></ion-icon>
            <ion-text
              ><h6 class="textodentrodelinea">
                &nbsp;o también puedes&nbsp;
              </h6></ion-text
            >
            <ion-text class="fuenteraleway" style="text-align: center"
              ><h5>
                Enviar la constancia por email: operaciones@dollarplus.pe
              </h5></ion-text
            >
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button
            (click)="step2()"
            fill="outline"
            color="primary"
            expand="block"
            >Atrás</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button
            *ngIf="new_url_image"
            (click)="enviar_operacion_con_foto()"
            color="primary"
            expand="full"
            style="color: #fff"
            >Continuar</ion-button
          >
          <ion-button
            *ngIf="!new_url_image"
            (click)="abrirmodalerrorpaso3()"
            color="primary"
            expand="full"
            style="color: #fff"
            >Continuar</ion-button
          >

          <ion-modal
            class="erroroperacion"
            trigger="modalpaso3"
            #modalpaso3
            id="modalpaso3"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
            handleBehavior="cycle"
          >
            <ng-template>
              <ion-content class="ion-padding">
                <div class="ion-margin-top">
                  <ion-text>
                    <br />
                    <p
                      style="font-size: x-large; color: black; margin-top: 0px"
                    >
                      Importante!
                    </p>
                  </ion-text>
                </div>
                <p>Para finalizar con su operación, usted debe:</p>
                <ul>
                  <li *ngIf="!new_url_image">
                    <strong style="color: var(--ion-color-secondary)"
                      >Adjuntar Imagen: </strong
                    >Porfavor cnsidere adjuntar un capture o imagen de su
                    transferencia.
                  </li>
                </ul>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section *ngIf="this.step=='4'">
    <ion-grid>
      <ion-row
        class="ion-align-items-center ion-justify-content-center"
        style="padding-bottom: 0px !important; padding-top: 0px !important"
      >
        <ion-col
          style="padding-bottom: 0px !important; padding-top: 0px !important"
          size-md="12"
          size-lg="6"
          size-xs="12"
        >
          <ion-card
            style="
              padding-left: 20px !important;
              padding-right: 20px !important;
              padding-bottom: 0px !important;
              padding-top: 0px !important;
            "
          >
            <ion-text
              class="fuenteraleway"
              style="text-align: center; color: --(--ion-color-secondary)"
            >
              <h2 color="secondary">¡Solicitud enviada!</h2>
              <h3>
                Tu operación es la N°{{operacion_enviada_con_foto.id}} y se
                encuentra en validación de fondos
              </h3>
            </ion-text>

            <div class="ion-text-center">
              <ion-button
                expand="block"
                (click)="iramisoperaciones()"
                color="primary"
                >Ver mís operaciones</ion-button
              >
              <ion-button
                expand="block"
                (click)="otraoperacion()"
                color="secondary"
                >Hacer otra transacción</ion-button
              >
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- termina step 2 -->
</ion-content>
