.my-benefits {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 245px;
    max-width: 245px;
  }
  &__square {
    width: 160px;
    height: 160px;
    background: var(--ion-color-secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #535353;
  }
  &__description {
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
  &__number {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #535353;
  }
  &__detail {
    width: 669px;
    margin: auto;
  }
  & span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    & a {
      color: #00ce7c;
    }
  }
  &__share {
    margin-top: 20px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      text-align: center;
    }
  }
  &__share-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__share-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 45px;
    background: #ebebeb;
    border-radius: 5px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #000000;
    }
  }
  &__share-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 45px;
    background: #0b2240;
    border-radius: 0px 5px 5px 0px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #ffffff;
    }
  }
}
@media (max-width: 960px) {
  .my-benefits {
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
    }
    &__number {
      display: none;
    }
    &__item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin: auto;
    }
    &__square {
      width: 84px;
      height: 84px;
      border-radius: 10px;
      padding: 0 20px 0 20px;
      margin: 5px 20px 0 0;
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      margin: 0;
      color: var(--ion-color-secondary);
    }
    &__description {
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  }
}

.my-benefits {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__detail {
    width: 90%;
    margin: 60px auto;
    text-align: center;
    & span {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      & a {
        color: #00ce7c;
      }
    }
  }
  &__share {
    // margin-top: 60px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      text-align: center;
    }
  }
  &__share-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__share-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 45px;
    background: #ebebeb;
    border-radius: 5px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #000000;
    }
  }
  &__share-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 45px;
    background: #0b2240;
    border-radius: 0px 5px 5px 0px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #ffffff;
    }
  }
}
@media (max-width: 960px) {
  .my-benefits {
    &__container {
      flex-direction: column-reverse;
      padding: 10px 20px;
      padding-bottom: 70px;
    }
    &__detail {
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
      & span {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        & a {
          color: #00ce7c;
          text-decoration: none;
        }
      }
    }
    &__share-code {
      width: 147px;
      & p {
        font-size: 12px;
      }
    }
    &__share-copy {
      width: 147px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      & p {
        font-size: 12px;
      }
    }
  }
}

.social-networks {
  display: flex;
  gap: 31px;
  margin-top: 20px;
  margin-bottom: 20px;
}
