


// Oculta el menu al bajar de 768:
// @media (min-width: 768px)
// .md\:block {
//     display: block;
// }




// @media screen and (max-width: 768px) {
//     ion-split-pane {
//         display:none;
//     }
// }


ion-split-pane {
  --side-width: 300px !important;
  --side-max-width: 300px !important;
  ion-menu {
    --width: 300px !important;
    --max-width: 300px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  ion-split-pane {
    --side-width: 300px !important;
    --side-max-width: 300px !important;
    --side-min-width: 300px !important;
    ion-menu {
        --width: 300px !important;
        --max-width: 300px !important;
        --min-width: 300px !important;
    }
  }
}

@media screen and (min-width: 992px) {
  ion-split-pane {
    --side-width: 300px !important;
    --side-max-width: 300px !important;
    ion-menu {
      --width: 300px !important;
      --max-width: 300px !important;
    }
  }
}

// al seleccionar una opcion del menu se marca de color primerio
ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.20);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}


.flechitamenusuperior {
    font-size:large; 
    // border-radius:25px; 
    // color:var(--ion-color-secondary); 
    // border: 1px solid var(--ion-color-primary);  
    // transform: scale(.3, 1);
     display: inline-block;
//   font-size: 32px;
//   transform: scale(.5, .5);
      -webkit-transform: scaleX(1.6);
    transform: scaleX(1.6);
    
}

