//icono soles en input

.sinborde {
    border-top-style: hidden!important;
    border-right-style: hidden!important;
    border-left-style: hidden!important;
    border-bottom-style: hidden!important;
    background-color: transparent!important;
    height:47px!important;
    font-size:14pt;
  }
  
  
  .sinborde:focus {
        outline: none;
    }
  
  
    // quitando flechitas del input number
    .sinflechitas {
        -webkit-appearance: none;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    // quitando flechitas del input number
  
  
  