<app-tawk-chat></app-tawk-chat>

<ion-tabs lines="none">
  <!-- <ion-tab-bar class="ocultar768paraarriba" slot="bottom"> -->
  <!-- <ion-tab-button  tab="misoperaciones" style="width:16vw!important;">
      <ion-icon name="swap-horizontal"></ion-icon>
      <ion-label class="fuenteresponsive">Operaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="cuentas"  style="width:16vw!important;">
      <ion-icon name="card"></ion-icon>
      <ion-label class="fuenteresponsive">Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="operacion" style="width:16vw!important;">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label class="fuenteresponsive">Nueva Operación</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="misbeneficios" style="width:16vw!important;">
      <ion-icon name="trophy"></ion-icon>
      <ion-label class="fuenteresponsive">Beneficios</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="ayudaycontacto" style="width:16vw!important;">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="fuenteresponsive">Ayuda</ion-label>
    </ion-tab-button> -->

  <!-- <ion-tab-button disabled="true"> </ion-tab-button> -->
  <!-- </ion-tab-bar> -->
</ion-tabs>

<!--
<ion-tabs lines="none">
  <ion-tab-bar slot="bottom" style="width:25vw; position:absolute; right:0%;bottom:0%;">

    <ion-tab-button (click)="cerrarsesion()">
      <ion-icon name="power"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
